body {
  background: green;
}
.card {
  background: white;
 
  height: 350px;
  width: 250px;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 85px;
}
.botom-suit {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 85px;
}
.number {
  padding-top: 50px;
  line-height: 100px;
  
